<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas dolor alias beatae earum quam quaerat at blanditiis
    fugiat, libero nobis adipisci totam dolorem necessitatibus voluptatum consequatur. Perspiciatis similique impedit
    velit, delectus cupiditate dolores blanditiis esse, iusto commodi, ratione obcaecati? Quae nulla perspiciatis beatae
    obcaecati nemo saepe minima atque consequuntur, facere perferendis odit neque libero adipisci voluptatem, a porro
    laudantium expedita repellat. Excepturi eligendi nobis sunt exercitationem quibusdam veniam doloribus, quaerat
    magnam cupiditate corrupti error, fugiat odit laudantium rem fugit cum, unde sit accusantium facilis nisi beatae
    nihil! Dicta pariatur doloremque, sit explicabo ullam facere, laborum aperiam voluptas odit mollitia dolorem!
</p>
<%- include("footer") -%>